*{box-sizing: border-box;}
body{
    background-image: linear-gradient(
        to right bottom,
        rgba(152, 115, 47, 0.7),
        rgba(43, 95, 164, 0.7)
    ), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUbk5NBzEYAADMqAX4AWtBNxAKiCYpTLWhCA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}
main {
    max-width: 600px;
    margin: auto;
    padding: 20px 40px;
    background-color: rgba(34, 167, 228, 0.8);
    border-radius: 4px;
}
h1,
h1+p {
    display: block;
    width: fit-content;
    margin: 10px auto;
}
input+label::after{
    content: "";
    display: block;
}
label {margin-top: 10px;}
[type="text"],
[type="email"],
[type="number"],
textarea,
select,
[type="submit"] {
    display:block;
    width: 100%;
    margin: 4px auto 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}
:focus {
    outline: none;
    border: 1px solid rgba(180, 119, 39, 0.8);
}
.nobtmg {margin-bottom: 4px;}
.rate {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 10px auto;
}
.rate label[id] {
    font-weight: bold;
    border-bottom: 1px solid rgb(153, 153, 153);
}
.rate .lft {text-align: end;}
.rate input {
    justify-self: end;
}
.rate * {margin: auto 0;}
@media screen and (max-width: 460px) {
    /*set up the appearance of rating scale from table/grid to list on small devices*/
    .rate {display: block;}
    .rate label[id] {display:none;}
    .rate p {
        font-weight: bold;
        margin-left: 10px;
    }
    .rate input {
        display: block;
        margin: 5px 10px 10px;
    }
    .rate [value="good"]::after {content: "Good";}
    .rate [value="normal"]::after {content: "normal";}
    .rate [value="bad"]::after {content: "Bad";}
    .rate [value="na"]::after {content: "Not Aplicable";}
    .rate [value]::after {
        display: inline-block;
        width: 100px;
        margin-left: 20px;
    }
}